<div class="content">
    
    <section id="home">
      <h1>¡Hola! Soy Valentino Burioni!</h1>
      <p>Desarrollador frontend en formación, explorando el mundo de Angular.</p>
    </section>
  
   
    <section id="about">
      <h2>Sobre Mí</h2>
      <p>Apasionado por la tecnología y el desarrollo web. Aprendiendo Angular y construyendo proyectos interesantes.</p>
    </section>
  
  
    
    <section id="contact">
      <h2>Contacto</h2>
      <p>Puedes contactarme en:</p>
      <ul>
        <li>📧 Email: burionivalentinogmail.com</li>
        <li>💼 LinkedIn: https://www.linkedin.com/in/valentino-burioni-bord%C3%B3n-b9383a253/</li>
        <li>🐙 GitHub: ghttps://github.com/VaalentinoB .</li>
      </ul> 
    </section>
  </div>
  